.main-view {
    margin-top: 5rem;
}

.button-forms {
    margin: 20px auto;
    width: 100%;
}

.favorite-button {
    position: absolute;
    top: 3px;
    right: 3px;
}

.fav-icon {
    height: 40px;
}

